[Unit]
Description=Moonboard DBUS Service
After=multi-user.target
SystemdService=dbus-org.com.moonbooard.service

[Service]
Type=dbus
BusName=com.moonboard
ExecStart=/usr/bin/python3 /home/pi/moonboard/ble/moonboard_BLE_service.py
ExecStartPre=/bin/sleep 15
User=root

[Install]
WantedBy=multi-user.target

