[Unit]
Description=Moonboard DBUS Service
After=multi-user.target

[Service]
Type=dbus
BusName=com.moonboard
ExecStart=/usr/bin/python3 /home/pi/moonboard/ble/moonboard_BLE_service.py
User=root
SystemdService=dbus-org.com.moonbooard.service

[Install]
WantedBy=multi-user.target