
[Unit]
Description= moon board app service
After=multi-user.target com.moonboard.service
Wants=com.moonboard.service

[Service]
User=pi
Type=idle
ExecStart=/bin/bash /home/pi/moonboard/scripts/run.sh

[Install]
WantedBy=multi-user.target