
[Unit]
Description= moon board app service
After=multi-user.target 

[Service]
User=pi
Type=idle
ExecStart=/bin/bash /home/pi/moonboard/scripts/run.sh

[Install]
WantedBy=multi-user.target