[Unit]
Description=Shutdown button service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/lifedrop_py/shutdown_script.py 
Restart=on-abort
 
[Install]
WantedBy=multi-user.target