aiosqlite==0.10.0
astroid==2.2.5
beautifulsoup4==4.7.1
BiblioPixel==3.4.46
BiblioPixelAnimations==3.20190410.153508
BiblioPixelTriggers==1.0.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
croniter==0.3.30
Flask==1.0.2
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.3.1
loady==1.8.10
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.22.0
olefile==0.46
Pillow==8.3.2
pylint==2.3.1
pyserial==3.4
python-dateutil==2.8.0
PyYAML==5.4
requests==2.21.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.1
urllib3==1.26.5
websockets==9.1
Werkzeug==0.15.3
wrapt==1.11.1
spidev 
python-periphery
rpi-ws281x==4.2.2
